/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-size: 23.62px;
    line-height: 36.88px;
    src: url('assets/fonts/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url('assets/fonts/AvenirLTStd-Black.otf');
}

body {
    font-family: 'Avenir';
    margin: 0;
}

.bolded {
    font-weight: 900 !important;
}

.hero-text {
    font-family: 'Avenir-Bold';
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
}
